<h1>Pages#index</h1>

<p>Find me in app/views/pages/index.html.erb</p>
<textarea class="mycodearea" rows="25" >String foo = 'foo';</textarea>

<script>
    $('.mycodearea').ace({ theme: 'twilight', lang:'java'  })
</script>
